<!-- THIS HTML CODE ALLOWS TO CREATE A TODO LIST FORM AND SOME FEATURES :
        - ADD TODO
        - MODIFY TODO
        - DELETE TODO
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="todo.css">
    <title>To do list</title>
</head>
<body>
    <div id="app">
        <h3>Todo Form</h3>
        <!-- create a form with input field to add todo -->
        <form v-on:submit.prevent="addTodo">
            <input type="text" v-model="todo" placeholder="enter your todo note">
            <select v-on:change="selectCategory" v-model="selectedCat">
                <option value="" selected disabled>choose your todo category</option>
                <option  v-for="cat in category" v-bind:value="cat">{{cat}}</option>
            </select>
            <button type="submit" 
                v-bind:class="todoAddBtn">Add todo</button>
        </form>

        <hr>
        <h4>My todo list</h4>
        <ul>
            <li v-for="(todo, index) in todoList" 
                v-bind:key="index" v-bind:class="getCategoryClass(todo.category)">

                <div v-bind:class="todoContainer">
                    <input type="checkbox" v-model="todo.isDone"> 
                    <span v-bind:class="{todoIsDone : todo.isDone}">{{todo.text}} </span>
                    <!-- - <span>{{todo.category}}</span> -->
                </div>
                 
                <div v-bind:class="btnContainer">
                    <button type="button" v-bind:class="todoModBtn" v-on:click="modifyTodo(index)">Modify</button>
                    <button type="button" v-bind:class="todoDelBtn" v-on:click="deleteTodo(index)">Delete</button>    
                </div>     
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="todoList.js"></script>
</body>
</html>